<%= form_with model:question, local: true do |f| %>
  <%= render "layouts/error_message", object: question %>
  <div class="form-group">
    <h4>題名</h4>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <h4>画像</h4>
    <%= f.attachment_field :question_image %>
  </div>
  <div class="form-group">
    <h4>質問内容</h4>
    <%= f.text_area :question_content, class: "form-control" %>
  </div>
  <div class="form-group">
    <h4>報酬ポイント</h4>
    <%= f.number_field :reword_point, class: "form-control" %>
  </div>

  <%= f.submit "投稿", class: "btn btn-outline-primary form-control" %>
<% end %>