<%= render "questions/detail", question: @question %>

<h3>回答</h3>
<% @question.answers.each do |answer| %>
  <%= answer.user.name %>
  <% if answer.best_answer %>
    <p>ベストアンサー!</p>
  <% elsif @question.current_user?(current_user) && !@question.answer_user?(answer.user_id) && @question.have_best_answer? %>
    <%= link_to "ベストアンサーに選ぶ", question_answer_best_path(question_id: @question.id, answer_id: answer.id) %>
  <% end %>
  <%= answer.answer_content %>
  <% if answer.current_user?(current_user) %>
    <% unless answer.best_answer %>
      <%= link_to '削除', question_answer_path(id: answer.id, question_id: answer.question_id), method: :delete %>
      <%= link_to '編集', edit_question_answer_path(id: answer.id, question_id: answer.question_id) %>
    <% end %>
  <% end %>
<% end %>

<% if @question.accepting %>
  <%= link_to '回答する', new_question_answer_path(@question.id) %>
<% end %>