<table class="table table-striped text-center">
  <thead>
    <tr>
      <th>ユーザー</th>
      <th>回答</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% answers.each do |answer| %>
      <tr>
        <td class="text-truncate", style="max-width: 40px">
          <%= link_to user_path(answer.user_id) do %>
            <%= attachment_image_tag answer.user, :user_image, :fill, 40, 40, format: 'jpeg', fallback:"unnamed.png", size: "40x40"%><br>
            <%= answer.user.name %>
          <% end %>
        </td>
        <td class="text-truncate", style="max-width: 200px">
          <%= link_to "#{answer.answer_content}", question_answer_path(question_id: answer.question_id, id: answer.id )%>
        </td>
        <td>
          <% if answer.best_answer %>
            <i class="far fa-check-circle fa-2x text-danger"></i>
          <% elsif answer.question.written_by?(current_user) && !answer.question.answer_user?(answer.user_id) && !answer.question.have_best_answer? %>
            <%= link_to "ベストアンサーに選ぶ", question_answer_best_path(question_id: question.id, answer_id: answer.id),
                                                                                          class: "btn btn-outline-danger",
                                                                                          data: { confirm: "本当によろしいですか？"}
            %>
          <% end %>
          <% if answer.current_user?(current_user) %>
            <% unless answer.best_answer %>
              <%= link_to '削除', question_answer_path(id: answer.id, question_id: answer.question_id), method: :delete, class: "btn btn-outline-danger" %>
              <%= link_to '編集', edit_question_answer_path(id: answer.id, question_id: answer.question_id), class: "btn btn-outline-warning" %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>