<!DOCTYPE html>
<html>
  <head>
    <title>TheAnswer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg px-5", style="background-color: #222222">
      <% if user_signed_in? %>
        <%= link_to "TheAnswer", questions_path, class: "navbar-brand text-light" %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to '質問一覧', questions_path, class: "nav-link text-light" %>
          </li>
          <li class="nav-item">
            <%= link_to "マイページ", user_path(current_user.id), class: "nav-link text-light" %>
          </li>
          <li class="nav-item">
            <% if current_user.have_unchecked_notification? %>
              <!--fa-circleのみstyleシートに記載-->
              <i class="fas fa-circle"></i>
            <% end %>
            <%= link_to '通知', notifications_path, class: "nav-link text-light" %>
          </li>
          <li class="nav-item">
            <%= link_to "投稿フォーム", new_question_path, class: "nav-link text-light" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-light" %>
          </li>
        </ul>
        <%= form_with url: search_path, method: :get, local: true do |f| %>
          <%= f.select :search_kind, ['受付中', '解決済', '未回答'], :prompt => "絞り込み検索" %>
          <%= f.search_field :keyword %>
          <%= f.submit "検索" %>
        <% end %>
      <% else %>
        <%= link_to "TheAnswer", root_path, class: "navbar-brand text-light" %>
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "トップ", homes_top_path, class: "nav-link text-light" %>
          </li>
          <li class="nav-item">
            <%= link_to "About", homes_about_path, class: "nav-link text-light" %>
          </li>
          <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path, class: "nav-link text-light" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: "nav-link text-light" %>
          </li>
        </ul>
      <% end %>
    </nav>

    <% if notice %>
        <div class="bg-success text-center text-light"><%= notice %></div>
      <% elsif alert %>
        <div class="bg-danger text-center text-light"><%= alert %></div>
      <% end %>
    <%= yield %>
    <footer class="footer", style="background-color:#222222; height:83px; line-height: 83px;">
      <p class="text-center", style="color:white;" >
        ©2021 The Answer All Rights Reserved.
      </p>
    </footer>
  </body>
</html>
