<!DOCTYPE html>
<html>
  <head>
    <title>TheAnswer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <li>
        <%= link_to '質問一覧', questions_path %>
      </li>
      <li>
        <%= link_to "マイページ", user_path(current_user.id) %>
      </li>
      <li>
        <%= link_to '通知', notifications_path %>
      </li>
      <li>
        <%= link_to "投稿フォーム", new_question_path %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>



      <%= form_with url: search_path, method: :get, local: true do |f| %>
        <%= f.select :search_kind, ['受付中', '解決済', '未回答'], :prompt => "検索の種類" %>
        <%= f.search_field :keyword %>
        <%= f.submit "検索" %>
      <% end %>
    <% else %>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
    <% end %>
    <% if notice %>
        <%= notice %>
      <% elsif alert %>
        <%= alert %>
      <% end %>
    <%= yield %>
  </body>
</html>
